<mat-card class="movie-container">
  <img src="{{ movie.book_image }}" alt="{{ movie.title }}" class="movie-poster" />
  <mat-card-content>
    <div class="movie-spec">
      <h2 class="movie-title">
        {{ movie.title }}
        <!-- <button
          mat-icon-button
          aria-label="Toggle summary"
          (click)="toggleSummary()"
        > -->
          <!-- <mat-icon>{{
            show ? "keyboard_arrow_up" : "keyboard_arrow_down"
          }}</mat-icon>
        </button> -->

        <button
          mat-icon-button
          aria-label="Details of movie"
          routerLink="/movies/{{ id }}"
        >
          <mat-icon>info</mat-icon>
        </button>


        <!-- <button
          mat-icon-button
          aria-label="Details of movie"
          routerLink="/movies/{{ id }}"
        >
          <mat-icon>info</mat-icon>
        </button> -->

      </h2>
      <p class="movie-rating">📕 {{ movie.author }}</p>
    </div>

    <div class="data">

      <div class="cat">{{movie.category}}</div>


      <div class="pub">{{movie.publication_date}}</div>


      <div class="sta">{{movie.status}}</div>
    </div>


    <!-- @if(show){
    <p class="movie-summary">{{ movie.status}}</p>
    } -->

    <div class="action-buttons-container">
      <!-- <app-counter /> -->

      <div>
        <button
          mat-icon-button
          aria-label="Delete movie"
          color="warn"
          (click)="deleteMovie()"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Delete movie"
          color="primary"
          (click)="editMovie()"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
