<form [formGroup]="editForm" (ngSubmit)="editMovie()" class="add-movie-form">
  <mat-form-field>
    <mat-label>Book Title</mat-label>
    <input
      matInput
      placeholder="Provide Book Title ⭐"
      formControlName="title"
    />

    @if(title?.touched && title ?.hasError('required') ){
    <mat-error>Book Title <strong>required</strong></mat-error>
    } @if(title ?.touched && title ?.hasError('minlength') ){
    <mat-error>Please provide Book title name 😁</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Book Image</mat-label>
    <input matInput placeholder="http://" formControlName="book_image" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Book Author</mat-label>
    <input matInput placeholder="Author of the book" formControlName="author" />

    <!-- @if(rating?.touched && rating?.hasError('required') ){
    <mat-error>Rating is <strong>required</strong></mat-error>
    } @if(rating?.touched && rating?.hasError('min') ){
    <mat-error>Rating is <strong>too low 🥲</strong></mat-error>
    } @if(rating?.touched && rating?.hasError('max') ){
    <mat-error>Rating is too high 😓</mat-error>
    } -->
  </mat-form-field>

  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      @for (c of Cat; track c) {
      <mat-option [value]="c.value">{{ c.viewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Publication Date </mat-label>
    <input
      type="date"
      matInput
      placeholder="Date of Publication"
      formControlName="publication_date"
    />
  </mat-form-field>

  <!-- <mat-form-field>
    <mat-label>Status</mat-label>
    <input matInput placeholder="Type Status" formControlName="status" />
  </mat-form-field> -->

  <!-- <h4>Reader Status</h4> -->
  <mat-form-field>
    <mat-label>Status</mat-label>
  <!-- <input matInput placeholder="Type Status" formControlName="Status" /> -->
  <mat-select formControlName = "status">
      @for (food of foods; track food) {
      <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <button mat-raised-button type="submit">Edit Book</button>
</form>



<!-- <form [formGroup]="movieForm" (ngSubmit)="addMovie()" class="add-movie-form">
  <mat-form-field>
    <mat-label>Book Title</mat-label>
    <input
      matInput
      placeholder="Provide Book Title ⭐"
      formControlName="title"
    />

    <mat-error *ngIf="title?.touched && title?.hasError('required')">
      Book Title <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="title?.touched && title?.hasError('minlength')">
      Please provide a longer Book title name 😁
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Book Image</mat-label>
    <input matInput placeholder="http://" formControlName="book_image" />
    <mat-error *ngIf="book_image?.touched && book_image?.hasError('required')">
      Book Image URL is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Book Author</mat-label>
    <input matInput placeholder="Author of the book" formControlName="author" />
    <mat-error *ngIf="author?.touched && author?.hasError('required')">
      Author is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="author?.touched && author?.hasError('minlength')">
      Author name is too short 🥲
    </mat-error>
    <mat-error *ngIf="author?.touched && author?.hasError('maxlength')">
      Author name is too long 😓
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      <mat-option *ngFor="let c of Cat" [value]="c.value">{{ c.viewValue }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Publication Date</mat-label>
    <input
      type="date"
      matInput
      placeholder="Date of Publication"
      formControlName="publication_date"
    />
    <mat-error *ngIf="publication_date?.touched && publication_date?.hasError('required')">
      Publication Date is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option *ngFor="let food of foods" [value]="food.value">{{ food.viewValue }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button type="submit">Add Movie</button>
</form> -->
